.headertop{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;    
}
.header {
    width: 40%;
    height: 75px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //font-family: "Times New Roman";
    font-size: 1.125rem;

    img {
        margin-left: 0.5rem;
    }

    a {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-decoration: none;
        color: black;
    }

    .active {
        font-weight: bold;
    }
    .menus {
        display: flex;
        justify-content: space-between;
    }
}
