.avator {
    border: 5px solid gray !important;
    background: #16bffd; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #cb3066,
        #16bffd
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #cb3066,
        #16bffd
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 100px !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-right: 120px !important;
    margin-bottom: 50px !important;
    margin-left: 10px !important;
}
.avatorDetail {
    z-index: 2;
    display: none;
    margin-bottom: 76px;
    position: absolute;
    font-size: 1.5rem;
    padding: 10px 10px 0px 9px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: -79px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.flags {
    width: 30px;
}

.avatorImg {
    border-radius: 100px !important;
    width: 70px;
    height: 70px;
}

.avator:hover {
    border: 5px solid rgb(255, 174, 0) !important;
    // position: sticky !important;
    transition: all 500ms ease;
    .avatorDetail {
        display: block;
        border: 1px solid rgb(255, 174, 0);
        transition: all 1000ms ease-in-out;
    }
    // transform: scale(1.1);
}

.ImageLists{
    margin-bottom: 20px;
    padding-right: 100px;
    display: flex !important;
    // justify-content:flex-start !important;
    // align-items: flex-start;
    flex-wrap: wrap ;
    width: 1569px;
    line-height: 0.5 !important;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 100%;
}

.evenImageLists {
    margin-bottom: 20px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-start;
    line-height: 0.5 !important;
}
.fullAvator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.icons {
    margin-top: 10px;
}
.name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}
.oddImageLists {
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 0.5 !important;
}
.title {
    font-size: 15px;
}
